body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #ffffff;
}
.logo_head {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}
.header_logo_color {
	color: #2e2f42;
}
.menu_links {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.menu_links:hover {
	color: #404bbf;
}
.menu_links:focus {
	color: #404bbf;
}
.contacts_block {
	font-style: normal;
}
.contact_links {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.contact_links:hover {
	color: #404bbf;
}
.contact_links:focus {
	color: #404bbf;
}

.order_block {
	background-color: #2e2f42;
}
.order_block_text {
	font-size: 56px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 0.02em;
	line-height: 1.07;
	text-align: center;
}
.order_button {
	cursor: pointer;
	color: #ffffff;
	padding: 16px 32px;
	background-color: #4d5ae5;
	font-size: 16px;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	line-height: 1.5;
	letter-spacing: 0.04em;
}
.order_button:hover {
	background-color: #404bbf;
}
.order_button:focus {
	background-color: #404bbf;
}

.adv_head {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.adv_text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.our_team {
	background-color: #f4f4fd;
}
.our_team_head {
	font-size: 36px;
	letter-spacing: 0.02em;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
}
.team_block {
	background-color: #ffffff;
}

.team_info_head {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.team_info_text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.portfolio_block {
	padding: 0;
}
.portfolio_head {
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
}
.pf_block img{
	width: 360px;
}
.pf_block_head {
	font-weight: 500;
	font-size: 16PX;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;

}
.pf_block_text {
	font-size: 16px;
	letter-spacing: 0.02em;
	line-height: 1.5;
	color: #434455;
}

.footer {
	background-color: #2e2f42;
}
.logo_footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}
.logo_footer_color {
	color: #f4f4fd;
}
.footer_text {
	line-height: 1.5;
	color: #f4f4fd;
	letter-spacing: 0.02em;
}
