body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
.section {
	padding: 96px 0;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.container {
	max-width: 320px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media screen and (min-width: 1158px) {
	.container {
		max-width: 1158px;
	}

	.section {
		padding: 120px 0;
	}
}

/* ---------------HEADER--------------- */

.header {
	box-shadow:
		0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 1px 6px rgba(46, 47, 66, 0.08);
}
.menu_wrap {
	background-color: #ffffff;
	border-bottom: 1px solid #e7e9fc;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu {
	display: none;
}

.menu_links {
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #2e2f42;
}

.menu_links:hover,
.menu_links:focus {
	color: #404bbf;
}

.menu2 {
	display: none;
}

.contacts_block {
	display: flex;
	font-style: normal;
}

.contact_links {
	padding: 24px 0;
}

.contact_links {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.contact_links:hover,
.contact_links:focus {
	color: #404bbf;
}

.logo_head {
	display: block;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	padding: 24px 0;
	padding-bottom: 24px;
	padding-top: 24px;
}

.header_logo_color {
	color: #2e2f42;
}

.burger {
	display: flex;
	border: none;
	background: transparent;
	width: 40px;
	height: 26px;
}

.burger_checkbox {
	display: none;
}

.burger_checkbox:checked ~ label svg:nth-child(1) {
	display: none;
}

.burger_checkbox ~ label svg:nth-child(2) {
	display: none;
}

.burger_checkbox:checked ~ label svg:nth-child(2) {
	display: flex;
}

.cansel-icon-menu {
	position: absolute;
	z-index: 1;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 7px;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------MEDIA TABLET HEADER--------------- */

@media screen and (min-width: 768px) {
	.burger {
		display: none;
	}

	.menu_wrap {
		display: flex;
	}

	.navigation {
		justify-content: space-between;
	}

	.menu {
		display: flex;
		gap: 40px;
		margin-left: 120px;
	}
	.active {
		display: block;
		position: relative;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		padding: 24px 0;
		color: #404bbf;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.menu_links {
		display: block;
		padding: 24px 0;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}

	.active::after {
		content: "";
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -1px;
		height: 4px;
		background-color: #404bbf;
		border-radius: 2px;
	}

	.menu2 {
		display: flex;
		justify-content: end;
		align-items: center;
		flex-direction: column;
		align-items: center;
	}

	.contacts_block {
		margin-left: auto;
	}

	.contact_links {
		display: block;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0.04em;
		color: #434455;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.contact_first {
		padding-top: 16px;
		padding-bottom: 12px;
	}
	.contact_second {
		padding-top: 0;
		padding-bottom: 16px;
	}
}

/* ---------------MEDIA TABLET HEADER--------------- */

/* ---------------MEDIA DESKTOP HEADER--------------- */

@media screen and (min-width: 1158px) {
	.menu_wrap {
		justify-content: space-between;
	}

	.menu2 {
		flex-direction: row;
		gap: 40px;
	}

	.contact_links {
		padding: 24px 0;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		text-align: left;
	}
}

/* ---------------MEDIA DESCTOP HEADER--------------- */

/* ------------HEADER------------ */

/* ------------ORDER BLOCK------------ */

.hero {
	background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	padding: 76px 0;
}

.order_block_text {
	margin: 0 auto;
	max-width: 216px;
	font-size: 36px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 0.02em;
	line-height: 1.07;
	margin-bottom: 72px;
}

.order_button {
	display: block;
	min-width: 169px;
	height: 56px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	color: #ffffff;
	background-color: #4d5ae5;
	font-size: 16px;
	font-weight: 500;
	font-family: Roboto, sans-serif;
	line-height: 1.5;
	letter-spacing: 0.04em;
	margin: 0 auto;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order_button:hover {
	background-color: #404bbf;
}

.order_button:focus {
	background-color: #404bbf;
}

/* ------------MEDIA TABLET ORDER BLOCK------------ */

@media screen and (min-width: 768px) {
	.order_block_text {
		max-width: 496px;
		font-size: 56px;
		margin-bottom: 36px;
	}

	.hero {
		padding: 112px 0;
	}
}

/* ------------MEDIA TABLET ORDER BLOCK------------ */

/* ------------MEDIA DESCTOP ORDER BLOCK------------ */

@media screen and (min-width: 1158px) {
	.order_block_text {
		margin-bottom: 64px;
	}

	.hero {
		padding: 188px 0;
	}
}

/* ------------MEDIA DESCTOP ORDER BLOCK------------ */

/* ------------ADVANTAGES BLOCK------------ */

.icon_block {
	display: none;
}

.adv_list_block {
	display: flex;
	flex-wrap: wrap;
	gap: 72px;
}

.adv_head {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.12;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
	text-align: center;
}

.adv_text {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

/* ------------MEDIA TABLET ADVANTAGES BLOCK------------ */

@media screen and (min-width: 768px) {
	.adv_list_block {
		row-gap: 72px;
		column-gap: 24px;
	}

	.adv_list {
		width: calc((100% - 24px) / 2);
	}

	.adv_head {
		text-align: left;
	}
}

/* ------------MEDIA TABLET ADVANTAGES BLOCK------------ */

/* ------------MEDIA DESCTOP ADVANTAGES BLOCK------------ */

@media screen and (min-width: 1158px) {
	.icon_block {
		display: flex;
		align-items: center;
		padding: 24px 100px;
		border: 1px solid #8e8f99;
		margin-bottom: 8px;
		justify-content: center;
		background-color: #f4f4fd;
		border-radius: 4px;
		height: 112px;
	}

	.adv_list_block {
		display: flex;
		flex-wrap: nowrap;
		gap: 24px;
		top: 0;
		right: 0;
	}

	.adv_head {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}

	.adv_text {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #434455;
	}
}

/* ------------MEDIA DESCTOP ADVANTAGES BLOCK------------ */

/* ------------TEAM BLOCK------------ */

.our_team {
	background-color: #f4f4fd;
}

.our_team_head {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
	margin-bottom: 72px;
}

.our_team_wrapper {
	display: flex;
	flex-direction: column;
	gap: 72px;
	align-items: center;
}

.team_block {
	background-color: #ffffff;
	border-radius: 0px 0px 4px 4px;
	box-shadow:
		0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team_info_block {
	padding: 32px 0;
}

.team_info_head {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	text-align: center;
	margin-bottom: 8px;
}

.team_info_text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	text-align: center;
	margin-bottom: 8px;
}

.social_media_block {
	display: flex;
	justify-content: center;
	gap: 24px;
}
.social_media {
	width: 40px;
	height: 40px;
}

.social_media_link {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_media_link:hover,
.social_media_link:focus {
	background-color: #404bbf;
}

.sm_img {
	fill: #f4f4fd;
}
/* ------------MEDIA TABLET TEAM BLOCK------------ */

@media screen and (min-width: 768px) {
	.our_team_wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 64px;
	}

	.team_block {
		width: calc((100% - 24px) / 2);
	}
}

/* ------------MEDIA TABLET TEAM BLOCK------------ */

/* ------------MEDIA DESCTOP TEAM BLOCK------------ */

@media screen and (min-width: 1158px) {
	.team_block {
		width: calc((100% - 72px) / 4);
	}

	.our_team_wrapper {
		gap: 24px;
		flex-direction: row;
	}
}

/* ------------MEDIA DESCTOP TEAM BLOCK------------ */

/* ------------TEAM BLOCK------------ */

/* ------------PORTFOLIO BLOCK------------ */

.portfolio_head {
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: #2e2f42;
	margin-bottom: 72px;
}

.pf_block_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
}

.pf_block {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf_block:hover {
	box-shadow:
		0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
	cursor: pointer;
	transform: translateY(0%);
}

.pf_block_info {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
}

.pf_block_head {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.pf_block_text {
	font-size: 16px;
	letter-spacing: 0.02em;
	line-height: 1.5;
	color: #434455;
}

.overlay_text {
	display: none;
}

/* ------------MEDIA TABLET PORTFOLIO BLOCK------------ */

@media screen and (min-width: 768px) {
	.pf_block_wrapper {
		column-gap: 24px;
		row-gap: 72px;
	}

	.pf_block {
		width: calc((100% - 24px) / 2);
	}
}

/* ------------MEDIA TABLET PORTFOLIO BLOCK------------ */

/* ------------MEDIA DESCTOP PORTFOLIO BLOCK------------ */

@media screen and (min-width: 1158px) {
	.pf_block_wrapper {
		row-gap: 48px;
	}

	.pf_block {
		width: calc((100% - 48px) / 3);
	}

	.pf_block:hover {
		box-shadow:
			0px 2px 1px 0px rgba(46, 47, 66, 0.08),
			0px 1px 1px 0px rgba(46, 47, 66, 0.16),
			0px 1px 6px 0px rgba(46, 47, 66, 0.08);
		cursor: pointer;
		transform: translateY(0%);
	}

	.pf_block:hover .overlay_text {
		transform: translateY(0%);
	}

	.image_with_overlay {
		position: relative;
		overflow: hidden;
	}

	.overlay_text {
		display: block;
		position: absolute;
		color: #f4f4fd;
		line-height: 1.5;
		letter-spacing: 0.02em;
		text-align: left;
		font-size: 16px;
		top: 0;
		padding: 40px 32px;
		background-color: #4d5ae5;
		height: 100%;
		width: 100%;
		transform: translateY(100%);
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}

/* ------------MEDIA DESCTOP PORTFOLIO BLOCK------------ */

/* ------------PORTFOLIO BLOCK------------ */

/* ------------FOOTER BLOCK------------ */

.footer {
	background-color: #2e2f42;
	padding: 96px 0;
}

.footer_container {
	display: flex;
	flex-direction: column;
	gap: 72px;
}

.footer_block a {
}

.logo_footer {
	display: block;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	margin-bottom: 16px;
	text-align: center;
}

.logo_footer_color {
	color: #f4f4fd;
}

.footer_text {
	max-width: 264px;
	font-weight: 400;
	line-height: 1.5;
	color: #f4f4fd;
	letter-spacing: 0.02em;
	font-size: 16px;
	text-align: left;
}

.social_media_text {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1.5;
	margin-bottom: 16px;
	text-align: center;
}

.footer_social_media_block {
	margin-left: auto;
	margin-right: auto;
}

.ft_social_media_block {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.menu_social_media {
	display: flex;
	gap: 16px;
}

.ft_social_media_link {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ft_social_media_link:hover,
.ft_social_media_link:focus {
	background-color: #31d0aa;
}

.subscribe_text {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	margin-bottom: 16px;
	text-align: center;
}
.subscribe_area {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

.subscribe_text_area {
	border: 1px solid #ffffff;
	border-radius: 4px;
	background: transparent;
	color: #ffffff;
	font-family: inherit;
	width: 264px;
	height: 40px;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	padding-left: 16px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer_input {
	display: flex;
}

.subscribe_text_area::placeholder {
	font-family: Roboto;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #ffffff;
}

.subscribe_btn {
	display: flex;
	font-family: "Roboto", sans-serif;
	padding: 8px 24px;
	background-color: #4d5ae5;
	color: #ffffff;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.04em;
	min-width: 165px;
	height: 40px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	margin: 0 auto;
}
.subscribe_icon {
	margin-left: 16px;
}

/* ------------MEDIA TABLET FOOTER BLOCK------------ */

@media screen and (min-width: 768px) {
	.footer_container {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 24px;
	}

	.logo_footer {
		text-align: left;
	}

	.footer_block {
		max-width: 264px;
	}

	.footer_social_media_block {
		max-width: 208px;
		margin: 0;
		margin-right: 80px;
	}

	.social_media_text {
		text-align: left;
	}

	.subscribe_text {
		text-align: left;
	}

	.subscribe_btn {
		margin: 0;
	}
}

/* ------------MEDIA TABLET FOOTER BLOCK------------ */

/* ------------MEDIA DESCTOP FOOTER BLOCK------------ */

@media screen and (min-width: 1158px) {
	.footer_container {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0;
	}

	.footer_block {
		margin-right: 120px;
	}
	.fotter_social_media_block {
		margin-right: 80px;
		margin-bottom: 0;
	}
}

/* ------------MEDIA DESCTOP FOOTER BLOCK------------ */

/* ------------FOOTER BLOCK------------ */

/* ------------MODAL------------ */

.modal_overlay {
	display: none;
	position: fixed;
	overflow-y: visible;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	transition:
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
	position: absolute;
	top: 4%;
	left: 0%;
	right: 0;
	background: #fcfcfc;
	border-radius: 4px;

	width: 288px;
	min-height: 584px;
	box-shadow:
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 72px 16px 16px 16px;
}

.modal_btn {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	cursor: pointer;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_btn:hover,
.modal_btn:focus {
	fill: #ffffff;
	background-color: #404bbf;
	border: none;
}

.cansel-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_text {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2e2f42;
	margin-bottom: 16px;
}

.modal_form {
	margin-bottom: 8px;
}

.form_text {
	display: block;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
	margin-bottom: 4px;
}

.forms_input {
	position: relative;
}

.modal_input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding-left: 38px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input:hover,
.modal_input:focus {
	border-color: #4d5ae5;
}

.modal_input_icon {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_input:focus + .modal_input_icon {
	fill: #4d5ae5;
}

.modal_comment {
	margin-bottom: 16px;
}

.form_comment {
	width: 100%;
	height: 120px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	padding: 8px 16px;
	outline: transparent;
	background-color: transparent;
	resize: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_comment:focus {
	border-color: #4d5ae5;
}

.modal_privacy {
	margin-bottom: 24px;
}

.form_checkbox {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
}

.privacy_policy_checkbox {
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
}

input[type="checkbox"]:checked + .form_checkbox > .privacy_policy_checkbox {
	background-color: #404bbf;
	border: none;
	fill: #f4f4fd;
}

.privacy_policy_link {
	text-decoration: underline;
	color: #4d5ae5;
}

.modal_form_btn {
	margin: 0 auto;
	display: block;
	min-width: 169px;
	height: 56px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
	background-color: #4d5ae5;
	border: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------MEDIA TABLET MODAL------------ */

@media screen and (min-width: 768px) {
	.modal-container {
		top: 2%;
		left: 0%;
		right: 0;
		height: 40%;
		width: 45%;
	}
}

/* ------------MEDIA TABLET MODAL------------ */

/* ------------MEDIA DESCTOP MODAL------------ */

@media screen and (min-width: 1158px) {
	.modal-container {
		top: 12%;
		left: 0%;
		right: 0;
		width: 408px;
	}
}

/* ------------MEDIA DESCTOP MODAL------------ */

/* ------------MODAL------------ */

/* ------------MOBILE MENU------------ */

.modal_mobile_menu {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 72px 40px 72px 16px;
	background-color: white;
	transition:
		opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_menu_container {
	position: relative;
	top: 0;
	left: 0;
	padding-top: 72px;
	padding-bottom: 40px;
	padding: 0 16px;
}

.modal_cansel_btn {
	position: absolute;
	top: -50px;
	right: 18px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	cursor: pointer;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_menu {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-bottom: 188px;
}

.mobile_menu_links {
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-align: left;
}

.mobile_menu_links:hover,
.mobile_menu_links:focus {
	color: #404bbf;
}

.modal_contacts_block {
	font-style: normal;
	padding-bottom: 48px;
}

.modal_menu_contacts {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.modal_contact_links {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #434455;
}

.modal_contact_links:focus,
.modal_contact_links:hover {
	color: #4d5ae5;
}

.modal_menu_social_media {
	display: flex;
	gap: 40px;
}

.social_media_menu_block {
}

.menu_social_media {
	display: flex;
	gap: 16px;
}

.sm_img {
}

/* ------------MODAL MOBILE MENU BLOCK------------ */
